<div class="main col-md-12">
	<div class="alert alert-danger" id="errors"></div>
	<div id="login-screen">
		<p class="lead">{{ title }}</p>
		<p>{{ labels.login }}</p>
		<form class="form-inline" id="nameForm">
			<div class="form-group">
				<input type="text" class="form-control input-lg" placeholder="Enter name" id="name" maxlength="10" data-length="10">
			</div>
			<input type="submit" name="join" id="join" value="Join" class="btn btn-primary btn-lg">
		</form>
	  </div>
</div>